/* MovieFilters.css */
.movie-filters {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.movie-filters input[type="text"] {
    width: 200px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.movie-filters select {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #61dafb;
}
